#form {
  position: relative;
}

#ferb{
  float: right;
}

#phineas{
  float: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.centereverything{
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 30px;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-right: 150px;

}

.buttondiv{
	padding-top:30px;
	text-align: center;

}

.button {
	background-color: #319177;
	border:2px solid black;
	color:black;
	padding: 15px 25 px;
	font-size:16px;
	font-color: 0000000;

}

body{
  background-color: #FE7301;
}
